/*---Cv---*/
*	{
	margin: 0px;
	padding: 0px;
	}
nav{
	display:flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
	background-color: #000000;
	}
	nav h1{
		color:#fff;
		font-size: 40px;
		
	}
.nav-links{
	flex:1;
	text-align: right;
	
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color:#fff;
	text-decoration:none;
	font-size: 15px;
}
.nav-links ul li:after{
	content:'';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width:100%;
}

.footer{
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  
}
.footer{
	background-color:#000000;
	color:#fff;
	text-align:center;
	font-size: 50px;
	padding-top:65px;
	padding-bottom: 65px;
}




