	/*-----PORTFOLIO----*/
	
*	{
	margin: 0px;
	padding: 0px;
	}
nav{
	display:flex;
	padding: 4% 7%;
	justify-content: space-between;
	align-items: center;
	background-color: #000000;
	}
	nav h1{
		color:#fff;
		font-size: 40px;
		
	}
.nav-links{
	flex:1;
	text-align: right;
	
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color:#fff;
	text-decoration:none;
	font-size: 15px;
}
.nav-links ul li:after{
	content:'';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width:100%;
}


.rapper{
	display:grid;
	grid-template-columns:20% 30% 50%;
	grid-template-rows:182%;
	background-color:#A9A9A9;
	color:#000000;
	text-align:center;
	padding-top:280px;
	padding-bottom:280px;
	font-size: 50px;
}

.rapper{
	background-color:#A9A9A9;
	color:#000000;
	text-align:center;
	padding-top:0px;
	padding-bottom:210px;
	font-size: 50px;
}
.rapper #content1{
	background-color:#778899;
	color:#000000;
	padding-top:100px;
	padding-bottom:100px;
	text-align:center;
}
.rapper #content2{
	background-color:#F5F5F5;
	color:#000000;
	padding-top:100px;
	padding-bottom:100px;
	text-align:center;
}
.rapper #content3{
	background-color:#778899;
	color:#000000;
	padding-top:100px;
	padding-bottom:100px;
	text-align:center;
}

.footer{
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  
}
.footer{
	background-color:#000000;
	color:#fff;
	text-align:center;
	font-size: 50px;
	padding-top:20px;
	padding-bottom: 30px;
}
	
	